<html>

<head>
    <title>
        Murugan
    </title>
    <!--
  <script src="socket.io.js"></script>
  <script src="cmiRTC.js"></script>
  <script src="cmiChannel.js"></script>
-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="http://liksu.github.io/ng-chatbox/chatbox.min.js"></script>
    <!--
    <script src="socket.io.js"></script>
    <script src="cmiRTC.js"></script>
    <script src="cmiChannel.js"></script>
     -->
    <script src="nari.min.js"></script>
    <script>
        angular.module('telecmi', ['ngChatbox']).controller('homeController', function($scope) {
            $scope.messages = [];

            $scope.sendmsg = function() {
                telecmi.sendMSG({
                    msg: $scope.msg
                })
                $scope.msg = null;
            };

            var telecmi = new nari();
            telecmi.onFire = function(event) {
                console.log(event)

            }

            telecmi.onRTC = function(event) {

                console.log(event)
                if (event.event == 'invite') {
                    telecmi.accept();
                }
            }

            telecmi.onMSG = function(data) {
                $scope.$apply(function() {
                    $scope.messages.push({
                        time: new Date().toISOString().replace(/T/, ' ').substr(0, 19),
                        text: data.msg,
                        own: Math.random() > 0.5 ? 'their' : 'mine'
                    });
                });


            }

            telecmi.onChannel = function(event) {
                console.log(event)
            }

            telecmi.onlocalstream = function(stream) {
                console.log('local stream')
                console.error(stream)
            }

            telecmi.onremotestream = function(stream) {
                console.log('remote stream')
                console.error(stream)
                var remote = document.getElementById('remote')

                remote.srcObject = stream.stream;
            }

            function send() {
                telecmi.sendMSG({
                    name: 'Murugan',
                    year: '2016'
                })
            }
            /*
            setTimeout(function(){
              telecmi.audioCall(9);
            },2000)*/
            telecmi.register('murugan');


            $scope.bye = function() {
                telecmi.bye();
            }
        });
    </script>
</head>

<body ng-app="telecmi" ng-controller="homeController">
    <video id="local" autoplay muted></video>
    <button ng-click="bye()">Hangup</button>
    <video id="remote" playsinline autoplay></video>
    <ng-chatbox ng-model="messages"></ng-chatbox>
    <br>
    <textarea ng-model="msg"></textarea>
    <button ng-click="sendmsg()">Send</button>
</body>

</html>