<html>
<head>
  <title>
  Murugan
  </title>
  <!--
  <script src="js/socket.io.js"></script>
  <script src="js/cmiRTC.js"></script>
  <script src="js/cmiChannel.js"></script>
-->
<script src="lib/dest/nari.min.js"></script>
  <script>
     var telecmi=new cmiRTC();
     telecmi.onFire=function(event)
     {

     }

     telecmi.onRTC=function(event)
     {


       if(event.event=='invite')
       {
         telecmi.accept();
       }
     }

     telecmi.onMSG=function(data)
     {
       console.error(data)
     }

     telecmi.ondatachannel=function(event)
     {
       console.log(event)
     }

     telecmi.onlocalstream=function(stream)
     {
       console.log('local stream')
       console.error(stream)
     }

     telecmi.onremotestream=function(stream)
     {
       console.log('remote stream')
       console.error(stream)
       var remote=document.getElementById('remote')
       var src=URL.createObjectURL(stream.stream);
       remote.src=src;
     }

     function send()
     {
       telecmi.sendMSG({name:'Murugan',year:'2016'})
     }
     /*
     setTimeout(function(){
       telecmi.audioCall(9);
     },2000)*/
telecmi.register('murugan');


function bye()
{
  telecmi.bye();
}

  </script>
</head>
<body>
  <video id="local" muted="true" autoplay="true"></video>
  <button onclick="bye()">Hangup</button>
  <button onclick="send()">Send</button>
  <video id="remote" autoplay="true"></video>
</body>
</html>
